In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Datasets/train_imperson_without4n7_balanced_data.csv")
df.shape

(97044, 153)

In [3]:
df.head()

,1,2,3,5,6,8,9,10,11,12,...,146,147,148,149,150,151,152,153,154,155
0,0,0,0,0.000066,0.000066,0.009150,0.009150,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
1,0,0,0,0.000014,0.000014,0.000000,0.000000,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
2,0,0,0,0.035528,0.035528,0.070588,0.070588,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
3,0,0,0,0.005128,0.005128,0.094771,0.094771,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
4,0,0,0,0.035116,0.035116,0.070588,0.070588,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0

### Find columns whose results are all 0 or 1, and remove them from the dataframe
The new dataframe is called `df3`

In [6]:
df2 = df.loc[:,(df!=0).any()]
df3 = df2.loc[:,(df2!=1).any()]
df3.shape

(97044, 79)

In [13]:
df3.head()

,5,6,8,9,14,15,16,18,20,26,...,138,140,141,142,143,144,145,146,154,155
0,0.000066,0.000066,0.009150,0.009150,1,1,1,1,1,1,...,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.000014,0.000014,0.000000,0.000000,1,1,1,1,1,1,...,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.035528,0.035528,0.070588,0.070588,1,1,1,1,1,1,...,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.005128,0.005128,0.094771,0.094771,1,1,1,1,1,1,...,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.035116,0.035116,0.070588,0.070588,1,1,1,1,1,1,...,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [46]:
# Remove the columns where most of the rows are the same value
from collections import Counter
headers = list(df3.columns.values)
remove_col_list = []

for header in headers:
    # if the most frequent value of the column fills more than 99.94% of the column, remove it from the dataset
    if Counter(df[header]).most_common()[0][1] >= (df3.shape[0] - 50):
        remove_col_list.append(header)

In [48]:
df4= df3.drop(remove_col_list,axis=1)

In [41]:
df3.shape[0]

97044

In [36]:
few_unique_values

{'14': Counter({1: 97023, 0: 21}),
 '15': Counter({1: 97023, 0: 21}),
 '16': Counter({1: 97023, 0: 21}),
 '18': Counter({1: 97023, 0: 21}),
 '20': Counter({1: 97023, 0: 21}),
 '26': Counter({1: 97023, 0: 21}),
 '29': Counter({1: 97023, 0: 21}),
 '43': Counter({1: 97023, 0: 21}),
 '50': Counter({0: 28961, 1: 68083}),
 '51': Counter({1: 28940, 0: 68104}),
 '52': Counter({1: 97023, 0: 21}),
 '62': Counter({1: 97023, 0: 21}),
 '66': Counter({1.0: 69055, 0.5: 12842, 0.0: 15147}),
 '68': Counter({0.5: 5074, 0.0: 27989, 1.0: 63981}),
 '70': Counter({0: 89732, 1: 7312}),
 '71': Counter({1: 33058, 0: 63986}),
 '72': Counter({0: 96944, 1: 100}),
 '73': Counter({0: 28720, 1: 68324}),
 '83': Counter({0: 97042, 1: 2}),
 '84': Counter({0: 97038, 1: 6}),
 '86': Counter({0: 97036, 1: 8}),
 '88': Counter({0.0: 97038, 0.03125: 3, 0.375: 1, 0.46875: 2}),
 '89': Counter({1: 97023, 0: 21}),
 '90': Counter({0: 88617, 1: 8427}),
 '93': Counter({0: 91883, 1: 5161}),
 '94': Counter({0: 94320, 1: 2724}),
 '97': Counter({0: 97043, 1: 1}),
 '98': Counter({0: 88728, 1: 8316}),
 '104': Counter({0.0: 96699, 1.0: 332, 0.1: 10, 0.01: 1, 0.05: 2}),
 '105': Counter({0.0: 97041, 0.25: 2, 0.5: 1}),
 '106': Counter({0.0: 96960, 0.86667: 84}),
 '108': Counter({0.0: 89340, 0.0015300999999999997: 7704}),
 '109': Counter({0.0: 96666, 0.16667: 374, 0.66667: 2, 0.5: 2}),
 '110': Counter({0.0: 91042, 0.00010732: 585, 0.00012521: 5417}),
 '111': Counter({0: 97000, 1: 44}),
 '112': Counter({0.0: 96521, 0.25: 187, 0.5: 323, 1.0: 13}),
 '113': Counter({0.0: 97041, 0.42857: 3}),
 '118': Counter({0: 88304, 1: 8740}),
 '121': Counter({0.0: 96592, 0.0045662: 452}),
 '122': Counter({0.0: 93530, 0.007936499999999999: 943, 0.0039683: 2571}),
 '123': Counter({0: 96984, 1: 60}),
 '125': Counter({0.0: 96895, 0.33333: 140, 0.14612: 9}),
 '126': Counter({0.0: 94954, 1.5399999999999998e-05: 2090}),
 '127': Counter({0.0: 94954, 0.0078431: 2089, 0.015686000000000002: 1}),
 '128': Counter({0.0: 94954, 3.09e-05: 1943, 1.55e-05: 147}),
 '129': Counter({0.0: 94954, 1.58e-05: 2090}),
 '130': Counter({0: 94954, 1: 2090}),
 '133': Counter({0: 97043, 1: 1}),
 '138': Counter({0.5: 97043, 0.88: 1}),
 '141': Counter({0.0: 95969, 0.33333: 1059, 0.66667: 8, 1.0: 8}),
 '145': Counter({0.0: 80492, 0.16667: 16551, 1.0: 1}),
 '146': Counter({0.0: 80492, 0.16667: 16551, 1.0: 1}),
 '155': Counter({0: 48522, 1: 48522})}

From the list above we can remove the following columns from the dataset because these columns have 

'14': Counter({1: 97023, 0: 21}),
 '15': Counter({1: 97023, 0: 21}),
 '16': Counter({1: 97023, 0: 21}),
 '18': Counter({1: 97023, 0: 21}),
 '20': Counter({1: 97023, 0: 21}),
 '26': Counter({1: 97023, 0: 21}),
 '29': Counter({1: 97023, 0: 21}),
 '43': Counter({1: 97023, 0: 21}),
 '52': Counter({1: 97023, 0: 21}),
 '62': Counter({1: 97023, 0: 21}),
 '72': Counter({0: 96944, 1: 100}),
 '83': Counter({0: 97042, 1: 2}),
 '84': Counter({0: 97038, 1: 6}),
 '86': Counter({0: 97036, 1: 8}),
 '88': Counter({0.0: 97038, 0.03125: 3, 0.375: 1, 0.46875: 2}),
 '89': Counter({1: 97023, 0: 21}),
 '97': Counter({0: 97043, 1: 1}),