You are suggested to use suitable descriptive statistics and visualisation to better understand the data you have available. You need to consider various data pre-processing techniques such as data transformation, discretisation, cleaning, normalisation, standardisation, smoothing, feature construction and use them if necessary.

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("Datasets/train_imperson_without4n7_balanced_data.csv")
df.shape

(97044, 153)

In [4]:
df.head()

,1,2,3,5,6,8,9,10,11,12,...,146,147,148,149,150,151,152,153,154,155
0,0,0,0,0.000066,0.000066,0.009150,0.009150,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
1,0,0,0,0.000014,0.000014,0.000000,0.000000,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
2,0,0,0,0.035528,0.035528,0.070588,0.070588,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
3,0,0,0,0.005128,0.005128,0.094771,0.094771,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
4,0,0,0,0.035116,0.035116,0.070588,0.070588,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0

### Find columns whose results are all 0 or 1, and remove them from the dataframe
The new dataframe is called `df3`

In [5]:
df2 = df.loc[:,(df!=0).any()]
df3 = df2.loc[:,(df2!=1).any()]
df3.shape

(97044, 79)

In [6]:
df3.head()

,5,6,8,9,14,15,16,18,20,26,...,138,140,141,142,143,144,145,146,154,155
0,0.000066,0.000066,0.009150,0.009150,1,1,1,1,1,1,...,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.000014,0.000014,0.000000,0.000000,1,1,1,1,1,1,...,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.035528,0.035528,0.070588,0.070588,1,1,1,1,1,1,...,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.005128,0.005128,0.094771,0.094771,1,1,1,1,1,1,...,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.035116,0.035116,0.070588,0.070588,1,1,1,1,1,1,...,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [7]:
# Remove the columns where most of the rows are the same value
from collections import Counter
headers = list(df3.columns.values)
remove_col_list = []

for header in headers:
    # if the most frequent value of the column fills more than 99.94% of the column, remove it from the dataset
    if Counter(df[header]).most_common()[0][1] >= (df3.shape[0] - 50):
        remove_col_list.append(header)
        print("column " + header+ "'s value distribution is "+str(Counter(df[header])))

column 14's value distribution is Counter({1: 97023, 0: 21})
column 15's value distribution is Counter({1: 97023, 0: 21})
column 16's value distribution is Counter({1: 97023, 0: 21})
column 18's value distribution is Counter({1: 97023, 0: 21})
column 20's value distribution is Counter({1: 97023, 0: 21})
column 26's value distribution is Counter({1: 97023, 0: 21})
column 29's value distribution is Counter({1: 97023, 0: 21})
column 43's value distribution is Counter({1: 97023, 0: 21})
column 52's value distribution is Counter({1: 97023, 0: 21})
column 62's value distribution is Counter({1: 97023, 0: 21})
column 83's value distribution is Counter({0: 97042, 1: 2})
column 84's value distribution is Counter({0: 97038, 1: 6})
column 86's value distribution is Counter({0: 97036, 1: 8})
column 88's value distribution is Counter({0.0: 97038, 0.03125: 3, 0.46875: 2, 0.375: 1})
column 89's value distribution is Counter({1: 97023, 0: 21})
column 97's value distribution is Counter({0: 97043, 1: 1})
column 105's value distribution is Counter({0.0: 97041, 0.25: 2, 0.5: 1})
column 111's value distribution is Counter({0: 97000, 1: 44})
column 113's value distribution is Counter({0.0: 97041, 0.42857: 3})
column 117's value distribution is Counter({0.0: 97036, 0.0034351: 3, 0.15611: 2, 0.096183: 1, 0.097328: 1, 0.11412: 1})
column 133's value distribution is Counter({0: 97043, 1: 1})
column 138's value distribution is Counter({0.5: 97043, 0.88: 1})

In [33]:
# df4 is the dataframe after dropping these columns where the most frequent value of the column fills 
# the majority of their rows
df4= df3.drop(remove_col_list,axis=1)
df4.shape

(97044, 57)

In [9]:
df4.columns.values

array(['5', '6', '8', '9', '38', '47', '48', '50', '51', '61', '64', '66',
       '67', '68', '70', '71', '72', '73', '75', '76', '77', '78', '79',
       '80', '82', '90', '93', '94', '98', '104', '106', '107', '108',
       '109', '110', '112', '118', '119', '120', '121', '122', '123',
       '125', '126', '127', '128', '129', '130', '140', '141', '142',
       '143', '144', '145', '146', '154', '155'], dtype=object)

In [25]:
# find out which columns are skewed & need normalization/standardization
# skewness = 0 : normally distributed.
# skewness > 0 : more weight in the left tail of the distribution.
# skewness < 0 : more weight in the right tail of the distribution. 

df4.skew(axis = 0, skipna = True)

5      17.200153
6      17.200153
8       1.772145
9       1.772145
38     -0.977053
47      1.168598
48    -67.934197
50     -0.881052
51      0.882182
61     -2.572446
64     -1.357737
66     -1.310025
67      0.308908
68     -0.797523
70      3.217715
71      0.672478
72     31.104195
73     -0.894060
75     35.206595
76     34.939381
77      8.086345
78     34.913149
79     34.229749
80     92.740886
82      1.433743
90      2.934485
93      3.982461
94      5.714494
98      2.960329
104    17.001594
106    33.945872
107     8.981833
108     3.111769
109    19.766029
110     3.649254
112    16.107402
118     2.864029
119    49.177087
120     3.109743
121    14.550269
122     5.998186
123    40.180226
125    25.930336
126     6.592108
127     6.600506
128     6.717656
129     6.592108
130     6.592108
140     0.535234
141    10.375253
142     0.768811
143    12.177543
144    43.540914
145     1.783121
146     1.783121
154     1.783549
155     0.000000
dtype: float64

In [28]:
# I suggest we remove column "48" from the dataset as well because its most frequent value `0.98108` fill the majority of the rows
Counter(df4["48"])

Counter({0.98108: 96824,
         0.0: 21,
         0.9851: 62,
         0.9871200000000001: 8,
         0.97705: 68,
         0.99316: 5,
         0.97101: 7,
         0.97504: 19,
         0.9790700000000001: 5,
         0.98913: 1,
         0.9830899999999999: 24})

In [46]:
# we can also remove one of columns from each of the pairs below because they are duplicates of each other:
# column"5" and "6"
# column 8" and "9"
# column "145" and "146"
sum(df4["5"] == df4["6"]) == df4.shape[0]

True

In [47]:
sum(df4["8"] == df4["9"]) == df4.shape[0]

True

In [48]:
sum(df4["145"]==df4["146"]) == df4.shape[0]

True

(97044, 57)